@keyframes fade{
	From {
	Opacity : 0 ;
	margin-bottom: 100px;
	}
	To {
	Opacity : 1;
	margin-bottom: 0px;
	}
}


header{
	display: block;
	margin: auto;
	text-align:center;
	padding: 7px;
	
}
#nav img{
	margin-left:auto;
	margin-right:auto;
	height:100px;
	border:none;
}
#nav a{
	color:black;
	text-decoration: none;
  margin-top : auto;
  margin-bottom : auto;
  margin-left : 12px;
  margin-right : 12px;
  white-space:pre-line;
	justify-content: center;
}
#nav{
	/*Permet de ranger les élémentes de la navigation*/
	animation-name:fade;
	Animation-duration:2s;
	Animation-iteration-count:1;
	display:grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	grid-template-areas:
	"c c c c" 
	"a a a a" 
	"b b b b" 
	"d d d d"
	"e e e e";
	align-items: start;
}
.itm{
	/*faire apparaitre la section*/
	animation-name:fade;
	Animation-duration:2s;
	Animation-iteration-count:1;
}
.A{
	grid-area: a;
	color:black;
	text-decoration: none;
}
.B{
	grid-area: b;
	color:black;
	text-decoration: none;
	white-space:pre-line;
	display: inline-block;
}
.itm3{
	grid-area: c;
}
.C{
	grid-area: d;
	color:black;
	text-decoration: none;
}
.D{
	grid-area: e;
	color:black;
	text-decoration: none;
}
.itm{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding : 10px 0 10px 0;
}
.itm:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: rgb(12, 199, 199);
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.itm:hover:before, .itm:focus:before, .itm:active:before {
  left: 0;
  right: 0;
}